/* line height is always to be center */

.fs-base {
  letter-spacing: -0.015em;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  color: rgba(0, 102, 255, 0.5);
  text-align: left;
  text-indent: 2%;
  text-transform: uppercase;
  text-decoration: line-through;
  font-style: italic;
}
