<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Grid</title>
</head>
<body>
    <h1>Grid</h1>
    <ul>
        <li>container
            <ul>
                <li>그리드 적용범위</li>
            </ul>
        </li>
        <li>column
            <ul>
                <li>exam 12</li>
                <li>horizontal</li>
            </ul>
        </li>
        <li>gutter
            <ul>
                <li>space</li>
            </ul>
        </li>
    </ul>
</body>
</html>